<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <title>迷你简陋小微博</title>
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>


        <style>
          body {
            width: 1000px;
            margin: auto;
            padding: 0;
          }
        </style>
</head>

<body>
<!-- 导航栏 -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-pad">
      <a class="navbar-brand" href="/">
        <img src="/static/img/logo.jpg" width="50px" />
        迷你微博
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">关注的人</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">粉丝列表</a>
          </li>
        </ul>

        <div>
          {% if 'uid' in session %}
          <a class="btn btn-outline-primary" href="/user/info">{{ session.username }}</a>
          <a class="btn btn-outline-success" href="/user/logout">退出</a>
          {% else %}
          <a class="btn btn-outline-primary" href="/user/register">注册</a>
          <a class="btn btn-outline-success" href="/user/login">登录</a>
          {% endif %}
        </div>
      </div>
    </nav>

<!-- 容器 -->
<div class="container">
      <div class="row">
        <!-- 内容区 -->
        <div class="col-8">{% block content %}{% endblock %}</div>

        <!-- 边栏区 -->
        <div class="col-4">{% block sidebar %}{% endblock %}</div>
      </div>
    </div>

    <!-- 底栏 -->
    <div class="container footbar">
        {% if session %}
        <div class="text-center text-secondary">Copyright @ {{ session.username }}.com</div>
        {% else %}
        <div class="text-center text-secondary">Copyright @ minweibo.com</div>
        {% endif %}
    </div>
<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
