{% extends "base.html" %}


{% block content %}

<div class="container py-2">
    <div class="logo">

    </div>
    <div class="row">
        <div class="col-md-8 login-form mx-auto">
            <!-- form card login -->
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-md-1">用户登录</h3>
                </div>
                <div class="card-body">
                    <form action="/user/login" method="POST" class="formLogin">
                        <div class="form-group">
                            <input name="username" class="form-control"  placeholder="Username" type="text">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" class="form-control" placeholder="Password">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="row mb-3">

                        </div>

                        <div class="naw-text mb-3">

                        </div>
                        <div class="row mb-3">
                            </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <span>
                                    <button type="submit" class="btn btn-primary btn-wd fb btn-block">
                                    <i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;登录
                                    </button>
                                </span>
                            </div>
                            <div class="col-lg-6">
                                <a href="/user/register" class="btn btn-info btn-wd gp btn-block">
                                    <span><i class="fa fa-google-plus"></i> &nbsp;&nbsp;&nbsp;注册</span>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="create-box text-block text-center my-0">
                                <span class="text-warning text-small font-weight-semibold">人生如梦<--></span>
                                <span class="text-danger text-small">忍把浮名换了浅增低唱</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/card-block-->
                <div class="card-footer">
                    <div class="copy-text">Copyright &copy; 2020.Company name All rights reserved</a></div>
                </div>
            </div>
        </div>
        </div>
</div>



{% endblock %}