{% extends "base.html" %}

{% block content %}
<h3>修改信息</h3>
<hr>
{% if err %}
<div class="alert alert-danger" role="alert">
  <p class="mb-0">{{ err }}</p>
</div>
{% endif %}

<form action="/weibo/modify" method="POST">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">微博内容</label>
    <div class="col-sm-8">
      <textarea class="form-control" name="content" rows="5">{{ weibo.content }}</textarea>
    </div>
  </div>
  <input type="hidden" name="wb_id" value="{{ weibo.id }}">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input type="submit" class="btn btn-success" value="修改微博">

    </div>
  </div>
</form>

{% endblock %}