{% extends "base.html" %}

{% block content %}
<h3>说一说你的心里话</h3>

{% if err %}
<div class="alert alert-danger" role="alert">
  <p class="mb-0">{{ err }}</p>
</div>
{% endif %}

<form action="/weibo/publish" method="POST">
    <label class="col-sm-2 col-form-label">内容：</label>
  <div class="form-group row">
    <div class="col-sm-8">
      <textarea class="form-control" name="content" rows="5"></textarea>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-3">
      <button class="btn btn-success">发布微博</button>
    </div>
  </div>
</form>

{% endblock %}